.Crosshair {
    background-image: resource('6444840');
    background-color: rgba(0, 0, 0, 0);
    scale: 1 1;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    flex-grow: 1;
    left: auto;
    transform-origin: center;
    top: auto;
    bottom: auto;
    width: 1919px;
    height: 777px;
}
